.movies-container {
  justify-self: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  .movies-container {
    margin-top: 10px;
    width: 100%;
    gap: 9px;
  }
}

@media (min-width: 1025px) {
  .movies-container {
    width: 1200px;
  }
}
