.underline-after {
  cursor: pointer;
}

.nav {
  background-color: white;
}

.underline-after::after {
  content: "";
  display: block;
  position: relative;
  height: 3px;
  background-color: rgb(0, 0, 0);
  width: 0;
  transition: all 0.3s;
}

.underline-after:hover::after {
  width: 100%;
}

@media (width > 768px) {
  .disclosure-panel {
    display: none;
  }

  .mobile-button-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .mobile-button-menu {
    display: block;
  }

  .desktop-button-menu {
    display: none;
  }

  .desktop-options {
    display: none;
  }

  .image-logo {
    width: 70px;
    margin-right: 60px;
  }
}

@media (width <= 1024px) {
  .button-auth {
    height: 40px;
    font-size: 10px;
  }
}
