.banner-landing {
  background-image: url("../../../public/tendencias-203623-1024x576.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-landing::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.719);
}

@media (min-width: 320px) and (max-width: 768px) {
  .card-landing {
    justify-self: center;
    width: 240px;
  }
}
